body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 60px 0;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
}

.header {
    background-color: #999;
    color: #fff;
    text-align: center;
    line-height: 60px;
    height: 60px;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.footer {
    background-color: #999;
    color: #fff;
    line-height: 60px;
    height: 60px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}
    .footer button {
        height: 50px;
    }